@charset "UTF-8";
:root {
    --color1: 68, 76, 247;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.huhu1 {
    background-image: url("../images/dank.webp");
    background-repeat: repeat-x;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100vw;
    height: 100vh;
}
.huhuButton {
    font-family: "Lucida Console";
    font-weight: bold;
    color: #5EC05E;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border: none;
    background: none;
}
.lichessButton {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 32px;
	height: 32px;
	background: none;
	border: none;
}
.lichessButton:hover {
	background: url("../images/LichessLogo.webp");
	background-size: 32px;
	background-repeat: no-repeat;
}
.minMaxButton{
	font-family: "Lucida Console";
	font-weight: bold;
	font-size: 16px;
	position: fixed;
	color: rgba(var(--color1, 0.33));
	background: none;
	border: none;
	width: 32px;
	height: 32px;
	right: 0px;
	top: 0px;
}
.minMaxButton:hover{
	color: #5EC05E;
}
.popOut {
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
	padding: 5px;
	border-style: outset;
	border-color: rgba(var(--color1), 50%);
	border-radius: 10px;
	background-color: rgba(var(--color1), 75%);
	transform: translate(-50%, -50%);
}
.screen {
	text-align: right;
	border-style: inset;
	border-color: rgba(var(--color1), 75%);
	width:90px;
	height:14px;
	font-family: "Lucida Console";
	font-weight:bold;
	background-color:black;
	color: rgba(var(--color1), 100%);
}
.keypad {
	width:96px;
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: rgba(var(--color1), 50%);;
}
.key {
	border:none;
	text-align: center;
	width:32px;
	height:32px;
	background-image: url(../images/squareButton.webp);
}
.key:hover {
}
@keyframes move {
    from {background-position-x : 0px;}
    to {background-position-x : 1205px;}
}
.bgLinearGradient {
    margin: 0;
    background: linear-gradient(135deg, rgba(var(--color1), 0.33) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, rgb(var(--color1)) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, rgba(var(--color1), 0.33) 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, rgb(var(--color1)) 25%, #E5E5F7 25%) 0px 0/ 20px 20px;
}
